h1 {
    color: goldenrod;
}

body{
    background-color: green;
    text-align: center;
    font-weight:bold;
    color:white;
    font-size:xx-large;
    font-family:'Trebuchet MS';

}

#message-el{
    font-style: italic;
}